* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
}

header {
  width: 100%;
  padding: 0px 0px 80px;
  background-color: rgb(97, 21, 21);
  margin-bottom: 2%;
}

li {
  float: left;
  list-style-type: none;
  padding: 28.4px;
  background: none;
}

li:hover {
  background: wheat;
}

header img {
  float: right;
  width: 7rem;
  height: 4rem;
  transition: all 1 ease-out;
  padding-top: 0.5rem;
}
header img:hover {
  width: 10rem;
  height: 5rem;
}

a {
  width: 100%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
img {
  width: 80%;
  transition: all 0.5s ease-in-out;
}
.big-image {
  margin-left: 7rem;
}
img:hover {
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

div div {
  padding: 0 6%%;
  width: 30%;
  float: left;
  text-align: center;
  font-size: 1.5rem;
  margin: 1.6%;
  background: rgb(97, 21, 21);
  border-radius: 50px;
}
h3{
    padding:3rem 0 ;
}
h1 {
  color: tomato;
  text-align: center;
  margin: 20px;
  font-size: 100px;
}
.service {
  position: absolute;
  top: 300px;
  display: none;
  width: 80%;
}
h1:hover + .service {
  display: block;
}

.clearfix {
  clear: both;
}

form .ok {
  display: inline-block;
  width: 40%;
  text-align: right;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  width: 30%;
}

.submitDiv {
  margin-left: 40%;
}

.subtext {
  font-size: 0.7rem;
}
