* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  --box-color:rgba(99, 35, 35, 0.816);
}
/*Body layout*/
body {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
/*Menu*/
nav ul {
 width: 25vw;
  padding: 0px 0px 80px;
  margin: 0;
  margin-bottom: 2%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;

}

li {
  list-style-type: none;
  padding: 28.4px;
}

li:hover {
  background: var(--box-color);
 
}
li:hover a{
  color:white;
}

nav img {
  float: left;
  width: 7rem;
  height: 4rem;
  transition: all 1 ease-out;
  padding-top: 0.5rem;
}
nav img:hover {
  width: 10rem;
  height: 5rem;
}
/*Main container*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
}
.main .main-img{
  max-width: 50vw;
}
.main .text {
 
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  line-height: 1.5rem;
}
.main .text h1 { padding-bottom: 3rem;}
.my-projects {
  padding: 0 3% 2%;
  width: 30%;
  float: left;
  text-align: center;
  font-size: 1.5rem;
  margin: 1.6%;
  background: var(--box-color);
  border-radius: 50px;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 100vw;
  color: white;
}
.projects .my-projects {
  width: 15%;
}
.projects img {
  max-width: 100%;
}
h3 {
  padding: 2rem 0;
  font: bold;
}
h1 {
  color: tomato;
  font-size: 3rem;
}

h1:hover {
  display: block;
}

footer {
  text-align: center;
}

/*Links*/
a {
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
/* About */
.project-about {
  padding-top: 25vh;
  width: 80vw;
  text-align: left;
  margin-left: 10%;
  line-height: 1.5rem;
 /*  ; */
}
.project-about h1,.main-contact h1 {
  text-align: center;
  padding-bottom: 3rem;
}
/* contact */
.main-contact {
  width: 80vw;
  padding-top: 25vh;
  text-align: center;
  margin-left: 10%;
  font-size: 2rem;
}
.send-email{
  width: 10vw;
  padding: 1.5vw;
  margin: 2vw 35vw ;
  cursor: pointer;
  background-color: tomato;
  border-radius: 5%;
}
